body {
    margin: 20px;
    font-family:'Times New Roman', Times, serif;
}

.card {
    display: flex;
    width: 400px;
    justify-content: space-around;
    margin: 0 auto;
    background: #008B8B;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

.card-img {
    width: 150px;
    margin-right: 25px;
    border-radius: 100%;
}